
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table id="result" class="table table-striped">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Сумма</th>
            @if (ViewBag.User.Role.ToString() == "Administrator")
                {
                    <th>Себестоимость</th>
                }   
            <th>Магазин</th>
            <th>Тип платежа</th>
            <th>Доп. Товары</th>
            <th>Покупатель</th>
            <th>Товар</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Date</td>
                <td>@s.Sum</td>
                @if (ViewBag.User.Role.ToString() == "Administrator")
                {
                    <td>@s.PrimeCost</td>
                }             
                <td>@s.ShopTitle</td>
                @if (s.PaymentType.ToString() == "Cash")
                {
                    <td>Наличный</td>
                }
                else if (s.PaymentType.ToString() == "Cashless")
                {
                    <td>Безналичный</td>
                }
                else
                {
                    <td>Смешанный</td>
                }
                @if (s.HasAdditionalProduct)
                {
                    <td>Есть</td>
                }
                else
                {
                    <td>Нет</td>
                }
                <td>@s.BuyerTitle</td>
                <td>@s.ProductTitle</td>
                <td>
                    <a href="/Manager/CheckPrintSale/@s.Id" class="btn btn-dark">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </a>
                    <a href="/Sale/Detail/@s.Id" class="btn btn-dark">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                    @if (ViewBag.User.Role.ToString() == "Administrator")
                    {
                        <a href="/Sale/Delete/@s.Id" class="btn btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>