
@{
    ViewData["Title"] = "SalesWithPartners";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h3 class="page-title">Продажи Партнерам <small>Просмотр продаж</small></h3>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="portlet-head">
                    Список Продаж
                </div>
                <!--<div class="portlet-filters">
                    <form style="display: inline-block">
                        <select name="shopId" id="shopFilter" onchange="filterBySale(event)" class="form-control" style="width: 200px; display: inline-block">
                            <option value="0" disabled selected>Выбрать Тип Товара</option>
                            <option value="0">Все</option>
                            <option value="1">С Доп. Товарами</option>
                        </select>
                    </form>
                    <form style="display: inline-block">
                        <select name="value" id="buyerFilter" onchange="filterByBuyers(event)" class="form-control" style="width: 200px; display: inline-block">
                            <option disabled selected>Выбрать Партнёра</option>
                            @foreach (var p in ViewBag.Partners)
                            {
                                <option value="@p.Id">@p.Title</option>
                            }
                            <option value="0">Все</option>
                            <option value="-1">Обычный покупатель</option>
                        </select>
                    </form>
                    <form style="display: inline-block">
                        <input placeholder="Дата с:" type="text" name="value" id="dateFilter1" onchange="filterByDate1(event.target)" class="form-control" style="width: 200px; display: inline-block" />
                    </form>
                    <form style="display: inline-block">
                        <input placeholder="Дата по:" type="text" name="value" id="dateFilter2" onchange="filterByDate2(event.target)" class="form-control" style="width: 200px; display: inline-block" />
                    </form>
                </div>-->
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table id="result" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Дата</th>
                                <th>Сумма</th>
                                <th>Магазин</th>
                                <th>Тип платежа</th>
                                <th>Доп. Товары</th>
                                <th>Покупатель</th>
                                <th>Комментарий</th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model)
                            {
                                <tr>
                                    <td>@s.Id</td>
                                    <td>@s.Date</td>
                                    <td>@s.Sum</td>
                                    <td>@s.ShopTitle</td>
                                    @if (s.PaymentType.ToString() == "Cash")
                                    {
                                        <td>Наличный</td>
                                    }
                                    else if (s.PaymentType.ToString() == "Cashless")
                                    {
                                        <td>Безналичный</td>
                                    }
                                    else
                                    {
                                        <td>Смешанный</td>
                                    }
                                    @if (s.HasAdditionalProduct)
                                    {
                                        <td>Есть</td>
                                    }
                                    else
                                    {
                                        <td>Нет</td>
                                    }
                                    <td>
                                        @s.BuyerTitle
                                    </td>
                                    <td>@s.Comment</td>
                                    <td>
                                        <a href="/Sale/Detail/@s.Id" class="btn btn-dark">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </a>
                                        <a href="/Sale/Delete/@s.Id" class="btn btn-danger deleteForm">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<!--<script type="text/javascript">

    ( function( factory ) {
        if ( typeof define === "function" && define.amd ) {

            define( [ "../widgets/datepicker" ], factory );
        } else {

            factory( jQuery.datepicker );
        }
    }( function( datepicker ) {

        datepicker.regional.ru = {
            closeText: "Закрыть",
            prevText: "&#x3C;Пред",
            nextText: "След&#x3E;",
            currentText: "Сегодня",
            monthNames: [ "Январь","Февраль","Март","Апрель","Май","Июнь",
                "Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь" ],
            monthNamesShort: [ "Янв","Фев","Мар","Апр","Май","Июн",
                "Июл","Авг","Сен","Окт","Ноя","Дек" ],
            dayNames: [ "воскресенье","понедельник","вторник","среда","четверг","пятница","суббота" ],
            dayNamesShort: [ "вск","пнд","втр","срд","чтв","птн","сбт" ],
            dayNamesMin: [ "Вс","Пн","Вт","Ср","Чт","Пт","Сб" ],
            weekHeader: "Нед",
            dateFormat: "mm.dd.yy",
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: "" };
        datepicker.setDefaults( datepicker.regional.ru );

        return datepicker.regional.ru;

    } ) );

    $(function () {
        $.datepicker.setDefaults($.datepicker.regional["ru"]);
        $("#dateFilter1").datepicker();
        $("#dateFilter2").datepicker();
    });
</script>

<script type="text/javascript">

    let typeOfSales = null;
    let typeOfBuyers = null;
    let date1 = null;
    let date2 = null;

    function filterBySale(value) {
        typeOfSales = value.srcElement.value;

        loadData(typeOfSales, typeOfBuyers, date1, date2);
    }

    function filterByBuyers(value) {
        typeOfBuyers = value.srcElement.value;

        loadData(typeOfSales, typeOfBuyers, date1, date2);
    }

    function filterByDate1(value) {
        date1 = value.value;

        loadData(typeOfSales, typeOfBuyers, date1, date2);
    }

    function filterByDate2(value) {
        date2 = value.value;

        loadData(typeOfSales, typeOfBuyers, date1, date2);
    }

    function loadData(sale, buyer, date1, date2) {


        $('#result').load(
            "/Sale/Filter",
            {
                type: typeOfSales,
                buyer: typeOfBuyers,
                date1: date1,
                date2: date2
            }
        );
    }

</script>
-->
