@using Data.Enums

@{
    ViewData["Title"] = "BookingList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3 class="page-title">Забронированные товары</h3>
<div class="row">
    <div class="col-md-12">

        <div class="portlet">
            <div class="portlet-title">
                <div class="portlet-head">
                    Список Забронированных товаров
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Дата</th>
                                <th>Сумма</th>
                                <th>Внесено</th>
                                <th>Остаток</th>
                                <th>Статус</th>
                                <th>Товар</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model)
                            {
                                <tr>
                                    <td>@s.Id</td>
                                    <td>@s.Date.ToString("dd.MM.yyyy")</td>
                                    <td>@s.Sum</td>
                                    <td>@s.Pay</td>
                                    <td>@s.Debt</td>
                                    @if(s.Status == BookingStatus.Close)
                                    {
                                        <td>Закрыта</td>
                                    }
                                    else
                                    {
                                        <td>Открыта</td>
                                    }
                                    <td>@s.ProductTitle</td>
                                    <td>
                                        <a href="/Admin/BookingDetail/@s.Id" class="btn btn-dark">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </a>                                                                            
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
