
@{
    ViewData["Title"] = "ExpenseList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h3 class="page-title">Список расходов <small>Просмотр расходов</small></h3>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="portlet-head">
                    Список расходов
                </div>
                <div class="portlet-filters">
                    <form style="display: inline-block">
                        <select name="shopId" id="shopFilter" onchange="filterByCategory(event)" class="form-control" style="width: 200px; display: inline-block">
                            <option value="0" disabled selected>Выбрать Категорию</option>
                            <option value="0">Все</option>
                            @foreach(var category in ViewBag.Categories)
                            {
                                <option value="@category.Id">@category.Title</option>
                            }
                        </select>
                    </form>
                    <form style="display: inline-block">
                        <select name="shopId" id="shopFilter" onchange="filterByScore(event)" class="form-control" style="width: 200px; display: inline-block">
                            <option value="0" disabled selected>Выбрать Счет</option>
                            <option value="0">Все</option>
                            @foreach(var score in ViewBag.Scores)
                            {
                                <option value="@score.Id">@score.Title</option>
                            }
                        </select>
                    </form>
                    <form style="display: inline-block">
                        <input placeholder="Дата с:" type="text" name="value" id="dateFilter1" onchange="filterByDate1(event.target)" class="form-control" style="width: 200px; display: inline-block" />
                    </form>
                    <form style="display: inline-block">
                        <input placeholder="Дата по:" type="text" name="value" id="dateFilter2" onchange="filterByDate2(event.target)" class="form-control" style="width: 200px; display: inline-block" />
                    </form>
                </div>
            </div>
            <div class="portlet-body">             
                <div class="table-responsive">
                    <table id="result" class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="6">
                                    <span>Всего расходов на сумму: @Math.Abs(ViewBag.ExpenseSum) рублей</span>
                                </th>
                            </tr>
                            <tr>
                                <th>Дата</th>
                                <th>Сумма</th>
                                <th>Тип расхода</th>
                                <th>Счет</th>
                                <th>Комментарий</th>
                                <th>Категория расхода</th>
                            </tr>
                        </thead>
                        <tbody>                           
                            @foreach (var c in Model)
                            {
                                <tr>
                                    <td>@c.InfoMoney.Date.ToString("dd.MM.yyyy")</td>
                                    <td>@Math.Abs(c.InfoMoney.Sum)</td>
                                    @if (c.InfoMoney.PaymentType.ToString() == "Cash")
                                    {
                                        <td>Наличный</td>
                                    }
                                    else
                                    {
                                        <td>Безналичный</td>
                                    }
                                    <td>@c.InfoMoney.MoneyWorker.Title</td>
                                    <td>@c.InfoMoney.Comment</td>
                                    <td>@c.ExpenseCategory.Title</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">

    (function (factory) {
        if (typeof define === "function" && define.amd) {

            define(["../widgets/datepicker"], factory);
        } else {

            factory(jQuery.datepicker);
        }
    }(function (datepicker) {

        datepicker.regional.ru = {
            closeText: "Закрыть",
            prevText: "&#x3C;Пред",
            nextText: "След&#x3E;",
            currentText: "Сегодня",
            monthNames: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
                "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
            monthNamesShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн",
                "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
            dayNames: ["воскресенье", "понедельник", "вторник", "среда", "четверг", "пятница", "суббота"],
            dayNamesShort: ["вск", "пнд", "втр", "срд", "чтв", "птн", "сбт"],
            dayNamesMin: ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
            weekHeader: "Нед",
            dateFormat: "dd.mm.yy",
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ""
        };
        datepicker.setDefaults(datepicker.regional.ru);

        return datepicker.regional.ru;

    }));

    $(function () {
        $.datepicker.setDefaults($.datepicker.regional["ru"]);
        $("#dateFilter1").datepicker();
        $("#dateFilter2").datepicker();
    });
</script>

<script type="text/javascript">

    let date1 = null;
    let date2 = null;
    let category = null;
    let score = null;
    let userId = @ViewBag.UserId;

    function filterByDate1(value) {
        date1 = value.value;

        loadData(category, date1, date2, userId, score);
    }

    function filterByDate2(value) {
        date2 = value.value;

        loadData(category, date1, date2, userId, score);
    }

    function filterByCategory(value) {
        category = value.srcElement.value;

        loadData(category, date1, date2, userId, score);
    }

    function filterByScore(value) {
        score = value.srcElement.value;

        loadData(category, date1, date2, userId, score);
    }

    function loadData(category, date1, date2, userId, score) {
        $('#result').load(
            "/Admin/ExpenseListFilter",
            {
                category: category,
                date1: date1,
                date2: date2,
                userId: userId,
                score: score
            }
        );
    }

</script>